ul {
	padding: 0;
	width: 100%;
	background-color: gold;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

li {
	padding: 0;
	margin: 0;
	background-color: indianred;
	color: white;
}