#paginador {
  display: flex;
  justify-content: center;
}

.schedule-table {
  display: block;
  
  .schedule-table-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      max-width: 80%;
      tbody tr {
        border-top: 1px solid black;
      }
      thead tr {
        border-bottom: 2px solid black;
      }
      th, td {
        text-align: center;
        min-width: 2rem;
      }
    }
  }
}